body {
  background: url('/static/img/bg.png');
  font-family: 'Dosis', sans-serif;
}
input, button {
  font-family: 'Dosis', sans-serif;
}
div.welcome {
  color: #8a8a8a;
  font-size: 24px;
  text-align: center;
  margin: 100px auto 0 auto;
}
div.content {
  margin: 50px 10px 0 10px;
}
hide {
  display: none;
}
.center {
  margin: 0px auto 0px auto;
  text-align: center;
}
.well {
  border: 1px solid #d5d5d5;
}
.alert {
  position: fixed;
  overflow: visible;
  top: 15px;
  left: 22%;
  right: 0;
  width: 50%;
  margin: 0 auto 0 auto;
  font-size: 16px;
  text-align: center;
  z-index: 9999;
  margin: 0 5px 0 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}
div#login, div#signup, div#user {
  color: #8a8a8a;
  text-align: center;
  margin: 70px 0 0 0;
}
.section-title {
  margin-bottom: 10px;
}
label.error {
  color: #b20000
}
div.output {
  min-height: 300px;
  max-height: 450px;
  overflow: auto;
  margin: 15px auto 0 auto;
  border: 1px solid #d5d5d5;
  background-color: #3a3a3a;
  color: #dedede;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-family: "Courier New";
}
div#modal-log {
  width: 700px;
  position: fixed;
  left: 45%;
  top: 50%;
}
div#log {
  padding: 10px;
  overflow: auto;
}
