{% extends "base.html" %}

{% block content %}
<div id="login">
  <h1 class="section-title">{{_('Change Password')}}</h1>
  <form id="change-password" method="POST">
    <div class="control-group">
      <input id="password" type="password" name="password" class="required" autofocus="true" placeholder="{{_('password')}}" />
    </div>
    <div class="control-group">
      <input id="password-confirm" type="password" name="password_confirm" class="required" placeholder="{{_('password (confirm)')}}" />
    </div>
    <div class="controls">
      <a id="btn-submit" href="#" class="btn btn-large btn-primary">{{_('Save')}}</a>
      <a href="{{url_for('index')}}" class="btn btn-large btn-secondary">{{_('Cancel')}}</a>
    </div>
  </form>
</div>
<script type="text/javascript">
  $("a#btn-submit").click(function(){
    $("input#password").attr('readonly', true);
    $("input#password-confirm").attr('readonly', true);
    $("form#change-password").submit();
  });
  $(function(){
    $("form#change-password").validate();
  });
</script>
{% endblock %}
