{% extends 'base.html' %}

{% block extra_head %}
<link href="{{url_for('static', filename='css/admin.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row-fluid">
  {% if session.user.is_admin %}
  <div id="modal-log" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">{{_('Log')}}</h3>
    </div>
    <div id="log" class="modal-body">
      <div class="center"><img src="{{url_for('static', filename='img/loader_64.gif')}}"/></div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">{{_('Close')}}</button>
    </div>
  </div>
  <form id="run" class="form-search" method="POST">
    <input type="text" class="input-xxlarge search-query" name="task" placeholder="fabric task" autofocus="true" value="{{task}}" />
    <button type="submit" class="btn">{{_('Run')}}</button>
    <span class="{% if not result_key %}hide{% endif %}"><img id="loading" width="24" height="24" src="{{url_for('static', filename='img/loader_48.gif')}}" /></span>
    {% if result_key %}
    <a id="btn-log" href="#modal-log" role="button" class="btn btn-info hide" data-toggle="modal">{{_('Log')}}</a>
    {% endif %}
  </form>
  {% endif %}
  <div id="task-results" class="output"></div>
</div>

<script type="text/javascript">
  {% if result_key %}
  var resultInterval;
  function loadResults() {
    $.getJSON("{{url_for('admin.task_results', job_id=job.id, key=result_key)}}", function(data){
      $("div#task-results").html(data.results);
      $("div#task-results").prop({ scrollTop: $("div#task-results").prop("scrollHeight") });
      if (data.status == 'finished') {
        clearInterval(resultInterval);
        // hide loading
        $("img#loading").addClass('hide');
        // show log button
        $("a#btn-log").removeClass('hide');
      }
    });
  }
  $("a#btn-log").click(function(){
    $.get("{{url_for('admin.get_log', key=result_key)}}", function(data){
      $("div#log").html(data);
    });
  });
  $(function(){
    resultInterval = setInterval(loadResults, 500);
  });
  {% endif %}
</script>

{% endblock %}
