{% extends "base.html" %}

{% block content %}
<div id="workflow">
  <h1 class="section-title">{{_('Create Workflow')}}</h1>
  <form id="workflow" method="POST">
    <div class="control-group">
      <input type="text" name="name" class="required" autofocus="true" placeholder="{{_('name')}}" value="{{name}}" />
    </div>
    <div class="control-group">
      <input type="text" name="category" class="required" placeholder="{{_('category')}}" value="{{category}}" />
    </div>
    <div class="control-group">
      <input type="text" name="command" class="required" placeholder="{{_('fabric task (without the \'fab\' prefix)')}}" value="{{command}}" />
    </div>
    <div class="control-group">
      <input type="text" name="args" placeholder="{{_('Task arguments (semi-colon separated)')}}" value="{{args}}" />
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="control-label">
        <input type="checkbox" name="admin">
          {{_('Admins Only')}}
        </label>
      </div>
    </div>
    <div class="controls">
      <input type="submit" class="btn btn-large btn-primary" value="{{_('Create')}}" />
      <a href="{{url_for('admin.index')}}" class="btn btn-large">{{_('Cancel')}}</a>
    </div>
  </form>
</div>
<script type="text/javascript">
  $("a#btn-submit").click(function(){
    $("form#workflow").submit();
  });
  $(function(){
    $("form#workflow").validate();
  });
</script>
{% endblock %}
